.headerBg {
    background: #424242 none repeat scroll 0 0;
    position: relative;
    width: 100%;

    box-sizing: border-box;
    max-height: 600px;
    overflow: hidden;
}
.figure {
    margin-bottom: 0;
    display: block;

}


.figure img{
    display: inline-block;
    width: 100%;
}

figure {
    margin: 0 0 1rem;
}
