
.widget {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: 18px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    z-index: 99;
    box-sizing: border-box;
    background: #424242 none repeat scroll 0 0;

}
.newPost_wrap {
    display: flex;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 17px;
    padding: 25px;
    box-sizing: border-box;

    background: #424242 none repeat scroll 0 0;
    border-color: transparent;

}
.newPost {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.newPost_Ava {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 10.4%;
    height: 60px;
    border: 1px solid;
    box-sizing: border-box;
}
.newPost_Ava img {
    border-radius: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}
.newPost_input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 85.5%;
    box-sizing: border-box;
}
.newPostForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.newPostForm textarea {
    float: left;
    width: 100%;

    /*border: 1px solid #eeeeee;*/
    /*border-radius: 6px 6px 0 0;*/
    padding: 10px;

    border-bottom: 0;
    background: #393939 none repeat scroll 0 0;
    border-color: transparent;
    color: #eee;
    resize: none;
}
.newPost_service ul {
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    box-sizing: border-box;
}
.newPost_service li {
    display: inline-block;
    margin-left: 5px;
}



















