.header {
    width: 100%;
    background-color: #61dafb;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.header_wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.header_content {
    width: 50%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/*--- big screen ----*/
@media screen and (max-width: 1920px) and (min-width: 1601px) {

}

@media screen and (max-width: 1600px) and (min-width: 1400px) {

}

@media screen and (max-width: 1281px) and (min-width: 1024px) {

}

/*--- tablet landscape ---*/
@media screen and (max-width: 1024px) {
 .header_content {
     margin-right: 70px;
 }
}

/*--- tablet view ---*/
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
    .header_content {
        width: 60%;
    }
}

@media screen and (max-width: 640px) {
    .header_wrap {
        justify-content: center;
    }
    .header_content {
        width: 100%;
        margin-right: 0px;
    }
    ul {
        justify-content: space-around;
    }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 420px) and (min-width: 361px) {

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {
    .header_wrap {
        justify-content: center;
    }
    .header_content {
        width: 100%;
    }
    ul {
        justify-content: space-around;
    }

}